<script setup>
import { ref } from 'vue';
import Faq from './Faq.vue';

const faqs = ref(JSON.parse(arAccordeon));
const toggleAnswer = id => {
  faqs.value = faqs.value.map(faq => faq.isOpen && faq.id !== id ? {...faq, isOpen: false} : faq);
  faqs.value = faqs.value.map(faq => faq.id === id ? {...faq, isOpen: !faq.isOpen} : faq);
  
  const box = document.getElementById(`faq_${id}`);

  let animateHeight = [
    {height: 0},
    {height: `${box.querySelector('.accordeon__text').offsetHeight}px`}
  ];
  if (box.classList.contains('open')) {
    let animation = box.animate(animateHeight.reverse(), {duration: 300});
    animation.addEventListener('finish', function(){
      box.classList.remove('open');
    })
  } else {
    box.classList.add('open');
    box.animate(animateHeight, {duration: 300});
  }
}
</script>

<template>
  <div class="accordeon__box">
    <div class="faqs">
      <Faq
          v-for="faq in faqs"
          :key="faq.id"
          :faq="faq"
          @toggle-answer="toggleAnswer"
      />
    </div>
  </div>
</template>

<style>
.accordeon__box {
  border: 1px solid #eee;
  padding: 20px;
}
.accordeon__title {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.2s ease;
  cursor: pointer;
}
.accordeon__title:hover {
  opacity: 0.8;
}
.accordeon__title.open::after {
  transform: rotate(-90deg);
}
.accordeon__text {
  font-size: 12px;
  line-height: 19.2px;
  padding: 25px 0 0;
}
.accordeon__text p:first-child {
  margin-top: 0;
}
.accordeon__text p:last-child {
  margin-bottom: 0;
}
.accordeon__textbox {
  height: 0;
  overflow: hidden;
}
.accordeon__textbox.open {
  height: auto;
}

@media all and (min-width: 768px) {
  .accordeon__text {
    font-size: 13px;
    line-height: 1.6em;
  }
}
@media all and (min-width: 992px) {
  .accordeon__text {
    font-size: 14px;
  }
}
</style>