<script>
import { ref } from 'vue';
import {openModal, closeModal, pushModal, popModal, container} from "jenesius-vue-modal"
import WidgetContainerModal from "./Modal.vue";

export default {
  components: {WidgetContainerModal: container},
  methods: {
    callModal() {
      openModal(WidgetContainerModal);
    }
  },
  mounted() {
    this.emitter.on('close', () => {
      closeModal();
    })
  }
}
</script>

<template>
  <div class="cheaper__wrapper">
    <div class="button button__cheaper box-rounded" @click="()=>callModal()">
      <div class="button__cheaper-icon"></div>
      <div class="button__cheaper-textbox">
        <div class="button__cheaper-title">Нашли дешевле?</div>
        <div class="button__cheaper-text">Сообщите нам и мы снизим цену!</div>
      </div>
      <div class="button__cheaper-arrow"></div>
    </div>
    <widget-container-modal />
  </div>
</template>

<style>
.button {
  display: flex;
  align-items: center;
  padding: 10px 24px 5px;
  cursor: pointer;
}
.button__cheaper {
  padding-left: 106px;
  background-color: #E7F2FF;
  min-height: 92px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  position: relative;
  transition: 0.2s ease;
}
.button__cheaper:hover {
  background-color: #AAD2FF;
}
.button__cheaper-textbox {
  flex: 1 1 auto;
}
.button__cheaper-title {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 4px;
}
.button__cheaper-text {
  font-size: 12px;
  line-height: 19.2px;
}
</style>