<script setup>

defineProps(['faq']);
const emit = defineEmits(['toggleAnswer'])
const handleClick = (id, event) => {
  emit('toggleAnswer', id);
};

</script>

<template>
    <div class="faq">
      <div class="accordeon__title icon_arrow"
        @click="(event) => handleClick(faq.id, event)"
        :class="{open: faq.isOpen}">{{ faq.title }}</div>
      <div class="accordeon__textbox" :id="'faq_' + faq.id">
        <div class="accordeon__text" v-html="faq.text"></div>
      </div>
    </div>
</template>
<style scoped lang="sass"></style>