<script>
export default {
  data() {
    return {
      isActive: false
    }
  },
  methods: {
    toggleFavorite() {
      this.isActive = !this.isActive;
    }
  }
}
</script>

<template>
  <div class="favorite" @click="toggleFavorite" :class="{'active': isActive}">
    <div class="favorite__icon flex_center"></div>
    <span>В избранное</span>
  </div>
</template>

<style>
.favorite {
  gap: 10px;
  transition: 0.2s ease;
  cursor: pointer;
  margin-right: auto;
  color: #6C7684;
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 19.2px;
}
.favorite span {
  display: block;
  padding-top: 5px;
}
.favorite:hover {
  color: #1a1a1a;
}
.favorite.active {
  color: #5EA9FF;
}
.favorite.active:hover {
  opacity: 0.8;
}
</style>