<script>
import PhoneInput from "./PhoneInput.vue";

export default {
  components: {PhoneInput},
  data() {
    return {
      completed: false
    }
  },
  methods: {
    sendClose() {
      this.emitter.emit('close', true);
    },
    changeDisable(val) {
      document.getElementById('btn_submit').disabled = !val;
    },
    completeForm() {
      this.completed = true;
    }
  }
}
</script>
<template>
  <div class="modal__wrapper" :class="{completed: completed}">
    <div class="modal__bg"></div>
    <div class="modal__box">
      <div class="modal__close" @click="sendClose"></div>
      <div class="modal__inner">
        <div class="modal__form" v-if="!completed">
          <div class="modal__titlebox">
            <div class="modal__logobox"><img src="/images/svg/logo_daichi_market.svg" alt="DAICHI Маркет"></div>
            <div class="modal__title"><span>Нашли дешевле?</span><span class="color-blue">Снизим цену!</span></div>
            <div class="modal__picture"><img src="/images/png/money_big.png" alt="Daichi - это выгодно!"></div>
          </div>
          <div class="modal__mainbox">
            <div class="modal__text color-grey">Если у конкурента цена ниже — вернём разницу! Отправьте ссылку на альтернативное предложение и получите товар по привлекательной цене.</div>
            <div class="modal__input">
              <PhoneInput @completed="changeDisable" />
            </div>
            <div class="modal__button">
              <button class="btn btn_blue" id="btn_submit" disabled @click="()=>completeForm()">Отправить</button>
            </div>
            <div class="modal__policy">Нажимая на кнопку, вы соглашаетесь с нашей <a href="#">политикой конфиденциальности</a></div>
          </div>
        </div>
        <div class="modal__completed" v-else>
          <div class="modal__completed-picture"><img src="/images/svg/icon_thankyou.svg" alt="Спасибо за обращение!"></div>
          <div class="modal__completed-title">Спасибо!</div>
          <div class="modal__completed-text color-grey">В скором времени наш менеджер обязательно с вами свяжется.</div>
          <div class="modal__completed-btn"><button class="btn btn_blue" @click="sendClose">Ок</button></div>
        </div>
      </div>
    </div>
  </div>
</template>
<style>
.modal__close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    cursor: pointer;
  z-index: 5;
}
.modal__close::before, .modal__close::after {
    content: '';
    width: 22px;
    height: 1.5px;
    background: #6C7684;
    position: absolute;
    top: 11px;
    left: 1px;
    transition: 0.3s ease-out;
}
.modal__close::before {
    transform: rotate(45deg);
}
.modal__close::after {
    transform: rotate(-45deg);
}
.modal__wrapper {
  height: calc(100vh - 50px);
  width: calc(100vw - 55px);
  max-width: 690px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.15);
}
.modal__inner {
  width: 100%;
  height: 100%;
  overflow-X: hidden;
  overflow-Y: auto;
}
.modal__box {
  height: 100%;
  width: 100%;
  background: #fff;
}
.modal__titlebox {
  display: flex;
  flex-direction: column-reverse;
}
.modal__picture {
  height: 171px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background: #E7F2FF;
}
.modal__picture img {
  height: 168px;
}
.modal__title {
  display: grid;
  margin: 30px 15px 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
}
.modal__mainbox {
  padding: 15px;
}
.modal__text {
  font-size: 14px;
  line-height: 22.4px;
}
.modal__button {
  display: flex;
  margin-bottom: 8px;
}
.modal__completed {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  text-align: center;
}
.modal__completed-title {
  margin: 30px 0 15px;
  font-size: 24px;
  line-height: 28.8px;
  font-weight: 500;
}
.modal__completed-text {
  text-align: center;
  font-size: 14px;
  line-height: 22.4px;
  padding: 0 15px;
}
.modal__completed-btn {
  margin-top: 30px;
  width: 100%;
  display: flex;
  padding: 0 20px;
}
.input-box {
  display: grid;
  margin: 25px 0;
  gap: 8px;
}
.label-text {
  font-size: 12px;
}
.input-text {
  background: #F4F4F8;
  border-color: transparent;
  padding: 12px 15px;
  border-radius: 5px;
  border-width: 1.5px;
  font-size: 14px;
  line-height: 22.4px;
}
.input-text:hover {
  background: #E6E6EF;
}
.input-text::placeholder {
  color: #6C7684;
}
.input-text:focus {
  border-color: #1A1A1A;
  outline: 1.5px solid #1A1A1A;
  background: #fff;
}
.input-text.errorinput {
  border-color: #EF6461;
  outline-color: #EF6461;
}

.result-input {
  font-size: 10px;
  line-height: 16px;
}

.modal__policy {
  text-align: center;
  font-size: 12px;
  line-height: 19.2px;
  padding: 0 10px;
}
.modal__policy a {
  color: #5EA9FF;
  transition: 0.2s ease;
}
.modal__policy a:hover {
  opacity: 0.8;
}
@media all and (min-width: 768px) {
  .modal__wrapper {
    border-radius: 16px;
    overflow: hidden;
    max-height: 566px;
  }
  .modal__wrapper.completed {
    height: auto;
  }
  .modal__close {
    right: 30px;
    top: 30px;
  }
  .modal__titlebox {
    background: #E7F2FF;
    flex-direction: column;
    padding: 30px;
    height: 255px;
    justify-content: space-between;
    position: relative;
  }
  .modal__title,
  .modal__logobox {
    position: relative;
    z-index: 2;
  }
  .modal__title {
    margin: 0;
    font-size: 32px;
    line-height: 1.2em;
  }
  .modal__picture {
    position: absolute;
    z-index: 1;
    bottom: 0;
    height: 100%;
    right: 108px;
  }
  .modal__picture img {
    min-height: 100%;
  }
  .modal__mainbox {
    padding: 30px 30px 0;
  }
  .modal__button {
    margin-bottom: 15px;
  }
  .input-box {
    gap: 5px;
  }
  .modal__completed {
    padding: 30px;
    justify-content: space-between;
  }
  .modal__completed-btn .btn {
    max-width: 250px;
    margin: 0 auto;
  }
}
</style>