<script>
import { reactive, ref } from "vue";
import { vMaska } from "maska";

export default {
  directives: { maska: vMaska },
  data() {
    return {
      inputValue: ref(null),
      maskError: false,
      options: ({
        mask: "+7 (###) ###-##-##",
        eager: true
      }),
      boundObject: {
        masked: "",
        unmasked: "",
        completed: false
      },
      additionalText: "",
    }
  },
  methods: {
    checkValueOnBlur(event) {
      if (event.target.value === "") {
        this.maskError = false;
        return;
      }
      let val = event.target.value;
      let completed = true;
      if (!this.boundObject.completed) {
        this.maskError = true;
        this.inputValue = val;
        completed = false;
      }
      this.$emit('completed', completed);
    },
    toggleError() {
      if (this.maskError) this.maskError = false;
    },
  }
}
</script>
<template>
  <div class="input-box">
    <label for="phone" class="label-text color-grey">Телефон<span class="color-red">*</span></label>
    <input type="text" id="phone" class="input-text color-prim"
      :class="{errorinput: maskError}"
      placeholder="+7 (000) 000-00-00"
      v-maska:[options]="boundObject"
      @blur="checkValueOnBlur"
      @focus="toggleError"
      :value="inputValue"
    >
    <div class="result-input" :class="{hidediv: !maskError}">
      <span class="color-grey result-input_add-text" :class="{hidediv: (!additionalText.length || maskError)}">Вспомогательный текст</span>
      <span class="color-red result-input_add-text">Неполностью введен номер</span>
    </div>
  </div>
</template>
