<script>
  import { ref } from 'vue';
  import SwiperCore from "swiper";
  import { Swiper, SwiperSlide } from 'swiper/vue';

  import 'swiper/css';
  import 'swiper/css/free-mode';
  import 'swiper/css/navigation';
  import 'swiper/css/thumbs';

  import { Thumbs } from 'swiper/modules';

  SwiperCore.use([Thumbs]);

  export default {
    components: {
      Swiper,
      SwiperSlide,
    },
    data() {
      return {
        sliderMain: JSON.parse(arImages).MAIN,
        sliderThumb: JSON.parse(arImages).THUMB,
        picTitle: title,
        thumbsSwiper: null,
      }
    },
    methods: {
      setThumbsSwiper(swiper) {
        this.thumbsSwiper = swiper;
      },
    }
  }
</script>

<template>
  <div class="slider-wrapper">
    <swiper
    :style="{
      '--swiper-navigation-color': '#fff',
      '--swiper-pagination-color': '#fff',
    }"
      :loop="true"
      :spaceBetween="10"
      :navigation="false"
      :modules="modules"
      :thumbs="{ swiper: thumbsSwiper }"
      class="slider-main"
    >
      <swiper-slide v-for="(pic, index) in sliderMain" :key="index">
        <img :src="pic" :alt="picTitle + ', рис. ' + (index + 1)">
      </swiper-slide>
    </swiper>
    <swiper
      @swiper="setThumbsSwiper"
      watch-slides-visibility
      watch-slides-progress
      :spaceBetween="13.83"
      :slidesPerView="'auto'"
      :watchSlidesProgress="true"
      :modules="modules"
      :breakpoints="{
        '500': {spaceBetween: 5}
      }"
      class="slider-thumb"
    >
      <swiper-slide v-for="(pic, index) in sliderThumb" :key="index">
        <img :src="pic" :alt="picTitle + ', рис. ' + (index + 1)">
      </swiper-slide>
    </swiper>
  </div>
</template>

<style>
.slider-main {
  margin-bottom: 8px;
}
.slider-main .swiper-slide {
  border-radius: 12.75px;
  overflow: hidden;
  display: flex;
}

.slider-thumb {
  margin-right: -15px;
}
.slider-thumb .swiper-wrapper {
  padding-right: 15px;
}
.slider-thumb .swiper-slide {
  width: 50px;
  border: 1.5px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
}
.slider-thumb .swiper-slide-thumb-active {
  border-color: #1A1A1A;
}
@media all and (min-width: 410px) {
  .slider-thumb {
    margin-right: calc((380px - 100vw) / 2);
  }
}
@media all and (min-width: 500px) {
  .slider-thumb {
    margin-right: 0;
  }
}
@media all and (min-width: 768px) {
  .slider-main {
    margin-bottom: 16px;
  }
  .slider-wrapper {
    max-width: 433px;
  }
}
@media all and (min-width: 992px) {
  .slider-main {
    margin-bottom: 24px;
  }
}
</style>
