@import 'constants';

* {
  box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
  font-family: $font-prim;
  color: $color-dark;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
  text-decoration: none;
  color: $color-dark;
  &:hover {
    text-decoration: none;
  }
}
button {
  border: none;
  outline: none;
  background: none;
  padding: 5px;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

div.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
}
@media all and (min-width: 576px) {
  div.container {
    width: 540px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media all and (min-width: 768px) {
	div.container {
		width: 738px;
	}
}
@media all and (min-width: 992px) {
	div.container {
		width: 962px;
	}
}
@media all and (min-width: 1280px) {
	div.container {
		width: 1200px;
	}
}
@media all and (min-width: 1440px) {
	div.container {
		width: 1360px;
	}
}

@media all and (max-width: 767.98px) {
  .hide-xs {
    display: none!important;
  }
}
@media all and (max-width: 991.98px) {
  .hide-sm {
    display: none!important;
  }
}
@media all and (min-width: 768px) {
  .show-xs {
    display: none!important;
  }
}
@media all and (min-width: 992px) {
  .show-sm {
    display: none!important;
  }
}

